.bundle
.DS_Store
app/stylesheets/.sass-cache/*
assets/*
config/app_settings.rb
config/database.yml
db/*.sqlite3
db/sphinx
Gemfile.lock
index/*
log/*.log
log/*.pid
mkmf.log
public/avatars/*
tmp/restart.txt
tmp/**/*
