- content_for :content_header do
  %h1 Search Results
- form_tag(forums_search_path, :method => :get) do
  %ol
    %li
      = text_field_tag :q, @query || 'Search', :onclick => 'if(this.value=="Search"){this.value=""}', :onblur => 'if(this.value==""){this.value="Search"}'
- if @forum_results.empty?
  %p
    No forums could be found that matched the search.
- else
  %h2= pluralize(@forum_results.total_entries, 'Forum')
  .results= render @forum_results
  .directory= will_paginate(@forum_results)