- content_for :content_header do
  %h1 Search Results
- form_tag(members_search_path, :method => :get) do
  %ol
    %li
      = text_field_tag :q, @query || 'Search', :onclick => 'if(this.value=="Search"){this.value=""}', :onblur => 'if(this.value==""){this.value="Search"}'
- if @member_results.empty?
  %p
    No members could be found that matched the search.
- else
  %h2= pluralize(@member_results.total_entries, 'Member')
  = render @member_results
  .directory= will_paginate(@member_results)