#content-sidebar
  :font-size 0.85em
  :margin-bottom 18px
  
  .block
    :margin-bottom 18px
    
    .title
      :color #000
      :margin-bottom 0  
      
  ul
    :background-color #fff
    :list-style circle inside
      
    & li.silver
      :list-style none
      :text-align right
      
      a

        &:link, &:visited
          :color #fcc

      &:hover
        :color #666

        a:link, :visited
          :color #c00
      
    li
      :margin 0
      :text-indent -12px
      :padding-left 12px
