.directory
  :text-align center
  
  ul
    :display block
    :margin 0 0 18px 0 !important
    :padding 0

    li
      :display inline
      :list-style-type none
      :margin 0
      :padding 0
  
      a
        :background-color #efefef
        :border 2px solid #ccc
        :color #c00
        :display inline
        :margin-right 10px
        :padding 0 5px
        :text-decoration none
        :-moz-border-radius 3px
        :-webkit-border-radius 3px

        &:hover
          :background-color #f7f7f7
          :color #c00

      &.selected
      
        a
          :background-color #ddd
          :color #000
          :cursor default
      
      &.gap_after
        :margin-right 10px
      
        &:after
          :content '...'
