#flash
  :position fixed
  :top 54px
  :z-index 1000
  :width 526px
  
  p

    &.notice, &.warning, &.error
      :font-size 12pt
      :padding 7px
      :margin 9px 0
      
      span
        :padding-left 25px

    &.notice
      :background-color #cfc
      :border 2px solid #6c6
      :color #363
      :-moz-border-radius 9px
      :-webkit-border-radius 9px
      
      span
        :background transparent url(/images/icons/tick.png) no-repeat 1px 1px
        
    &.warning
      :background-color #ffc
      :border 2px solid #cc6
      :color #663
      :-moz-border-radius 9px
      :-webkit-border-radius 9px

      span
        :background transparent url(/images/icons/error.png) no-repeat 1px 1px

    &.error
      :background-color #fcc
      :border 2px solid #c66
      :color #633
      :-moz-border-radius 9px
      :-webkit-border-radius 9px
      
      span
        :background transparent url(/images/icons/cross.png) no-repeat 1px 1px