.asset[asset]
  - fields_for "topic[#{asset.new_record? ? 'new' : 'existing'}_asset_attributes][]", asset do |f|
    %ol
      %li
        = f.file_field :data
        = link_to_function t('assets.remove'), "$(this).parents('.asset').remove()"