- unless message_activity.trackable.nil?
  .activity[message_activity]{ :class => cycle('odd', 'even')}
    .icon
      = avatar_tag(message_activity.user, :style => :icon)
    .body
      .info
        = message_activity.created_at.strftime('%A, %e %B %Y at %k:%M')
      .title
        - if message_activity.action == 'sent'
          = link_to_member(message_activity.user)
          sent you a message.
          = link_to 'Read messages', unread_my_received_messages_path
