%p
  Thank-you for registering with the CLAHRC Community. Before you can
  contribute to the CLAHRC Community, we need to confirm that your email
  address is valid and activate your account.
%p  
  We have sent an email to
  = @user.email
  containing instructions about activating your account.
%p  
  Regards,
  %br
  CLAHRC Community Team