%script{ :src => "/markitup/jquery.markitup.js" }
%script{ :src => "/markitup/sets/textile/set.js" }
%link{ :href => "/markitup/skins/simple/style.css", :rel => 'stylesheet', :type => 'text/css' }
%link{ :href => "/markitup/sets/textile/style.css", :rel => 'stylesheet', :type => 'text/css' }