- content_for :content_header do
  %h1
    - if @group
      = @group.name_to_s
    - else
      Owners
- if @group
  %h2= t('index')
.members
  - if @directory.ownerships.blank?
    No owners could be found.
  - else
    = render @directory.ownerships
= render @directory