.group[membership]{ :class => cycle('odd', 'even') }
  .icon
    %img{ :src => '/images/icons/group.png' }
  .body
    .title
      = link_to_group(membership.relatable)
    .teaser
      = group_teaser(membership.relatable)
    .links
      %ul
        %li= link_to t('show'), group_path(membership.relatable_id)
        - if membership.relatable.members.count > 1
          %li= link_to_new_message(membership.relatable)