- content_for :sidebar do
  - unless @topic.nil? || @topic.new_record?
    .title Topic
- content_for :content_sidebar do
  %ul
    - unless @topic.nil? || @topic.new_record?
      - if @topic.can_be_edited_by?(current_user)
        %li= link_to_edit_topic(@topic)
      - if @topic.can_be_destroyed_by?(current_user)
        %li= link_to_destroy_topic(@topic)
= render :file => 'layouts/forums'